name: Etcd Ruby CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      etcd:
        image: quay.io/coreos/etcd:v3.5.4
        env:
          ETCD_NAME: xfers_etcd
          ETCD_DATA_DIR: /etcd-data
          ETCD_LISTEN_CLIENT_URLS: http://0.0.0.0:2379
          ETCD_LISTEN_PEER_URLS: http://127.0.0.1:2380
          ETCD_ADVERTISE_CLIENT_URLS: http://127.0.0.1:2379
        ports:
          - 2379:2379
    strategy:
      max-parallel: 1
      matrix:
        ruby-version: ['2.7', '3.1', '3.2', '3.3' ]
    env:
      DISABLE_SPRING: 1
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Install dependencies
        run: bundle install
      - name: Ruby lint
        run: bundle exec rubocop
      - name: Run tests
        run: bundle exec rake
